In [ ]:
import pandas as pd
import numpy as np
import random 
from google.colab import files

In [ ]:
 
import pandas as pd
 
# initialise data of lists.
a = [0,1, 2, 3,4,5,6]
b= [0,1, 2, 3,4,5,6]
c = [0,1, 2, 3,4,5,6]

cd= pd.MultiIndex.from_product([a, b,c], names = ["missed", "wrong","right"])
df=cd.to_frame(index = False)
print(df)
print(len(df))

     missed  wrong  right
0         0      0      0
1         0      0      1
2         0      0      2
3         0      0      3
4         0      0      4
..      ...    ...    ...
338       6      6      2
339       6      6      3
340       6      6      4
341       6      6      5
342       6      6      6

[343 rows x 3 columns]
343

In [ ]:
df["Sum"]=df["missed"]+df["wrong"]+df["right"]
df.drop(df[df['Sum']!=6].index, inplace = True)
print(df)
print(len(df))

     missed  wrong  right  Sum
6         0      0      6    6
12        0      1      5    6
18        0      2      4    6
24        0      3      3    6
30        0      4      2    6
36        0      5      1    6
42        0      6      0    6
54        1      0      5    6
60        1      1      4    6
66        1      2      3    6
72        1      3      2    6
78        1      4      1    6
84        1      5      0    6
102       2      0      4    6
108       2      1      3    6
114       2      2      2    6
120       2      3      1    6
126       2      4      0    6
150       3      0      3    6
156       3      1      2    6
162       3      2      1    6
168       3      3      0    6
198       4      0      2    6
204       4      1      1    6
210       4      2      0    6
246       5      0      1    6
252       5      1      0    6
294       6      0      0    6
28

In [ ]:
df["Accur"]=(df["right"]/(df["right"]+df["wrong"]))*100
df["Accur"].fillna(value = 0,
          inplace = True)
print(df)

     missed  wrong  right  Sum       Accur
6         0      0      6    6  100.000000
12        0      1      5    6   83.333333
18        0      2      4    6   66.666667
24        0      3      3    6   50.000000
30        0      4      2    6   33.333333
36        0      5      1    6   16.666667
42        0      6      0    6    0.000000
54        1      0      5    6  100.000000
60        1      1      4    6   80.000000
66        1      2      3    6   60.000000
72        1      3      2    6   40.000000
78        1      4      1    6   20.000000
84        1      5      0    6    0.000000
102       2      0      4    6  100.000000
108       2      1      3    6   75.000000
114       2      2      2    6   50.000000
120       2      3      1    6   25.000000
126       2      4      0    6    0.000000
150       3      0      3    6  100.000000
156       3      1      2    6   66.666667
162       3      2      1    6   33.333333
168       3      3      0    6    0.000000
198       4      0      2    6  100.000000
204       4      1      1    6   50.000000
210       4      2      0    6    0.000000
246       5      0      1    6  100.000000
252       5      1      0    6    0.000000
294       6      0      0    6    0.000000

In [ ]:
df["missed_factor"]=(df["missed"]/(df["missed"]+(6-df["missed"])))*100
print(df)

     missed  wrong  right  Sum       Accur  missed_factor
6         0      0      6    6  100.000000       0.000000
12        0      1      5    6   83.333333       0.000000
18        0      2      4    6   66.666667       0.000000
24        0      3      3    6   50.000000       0.000000
30        0      4      2    6   33.333333       0.000000
36        0      5      1    6   16.666667       0.000000
42        0      6      0    6    0.000000       0.000000
54        1      0      5    6  100.000000      16.666667
60        1      1      4    6   80.000000      16.666667
66        1      2      3    6   60.000000      16.666667
72        1      3      2    6   40.000000      16.666667
78        1      4      1    6   20.000000      16.666667
84        1      5      0    6    0.000000      16.666667
102       2      0      4    6  100.000000      33.333333
108       2      1      3    6   75.000000      33.333333
114       2      2      2    6   50.000000      33.333333
120       2      3      1    6   25.000000      33.333333
126       2      4      0    6    0.000000      33.333333
150       3      0      3    6  100.000000      50.000000
156       3      1      2    6   66.666667      50.000000
162       3      2      1    6   33.333333      50.000000
168       3      3      0    6    0.000000      50.000000
198       4      0      2    6  100.000000      66.666667
204       4      1      1    6   50.000000      66.666667
210       4      2      0    6    0.000000      66.666667
246       5      0      1    6  100.000000      83.333333
252       5      1      0    6    0.000000      83.333333
294       6      0      0    6    0.000000     100.000000

In [ ]:
df["Tot_clicks"]= np.random.randint(1,100, size=len(df))
df["Pop_clicks"]=np.random.randint(1,df["Tot_clicks"], size=len(df))
df["effective_clicks"]=(df["Pop_clicks"]/(df["Tot_clicks"]))*100
print(df)

     missed  wrong  right  Sum       Accur  missed_factor  Tot_clicks  \
6         0      0      6    6  100.000000       0.000000          66
12        0      1      5    6   83.333333       0.000000          66
18        0      2      4    6   66.666667       0.000000          28
24        0      3      3    6   50.000000       0.000000          84
30        0      4      2    6   33.333333       0.000000          74
36        0      5      1    6   16.666667       0.000000          33
42        0      6      0    6    0.000000       0.000000          44
54        1      0      5    6  100.000000      16.666667          48
60        1      1      4    6   80.000000      16.666667          69
66        1      2      3    6   60.000000      16.666667          70
72        1      3      2    6   40.000000      16.666667          64
78        1      4      1    6   20.000000      16.666667          21
84        1      5      0    6    0.000000      16.666667           2
102       2      0      4    6  100.000000      33.333333          57
108       2      1      3    6   75.000000      33.333333           3
114       2      2      2    6   50.000000      33.333333          57
120       2      3      1    6   25.000000      33.333333          10
126       2      4      0    6    0.000000      33.333333          50
150       3      0      3    6  100.000000      50.000000          76
156       3      1      2    6   66.666667      50.000000          29
162       3      2      1    6   33.333333      50.000000          32
168       3      3      0    6    0.000000      50.000000          55
198       4      0      2    6  100.000000      66.666667          89
204       4      1      1    6   50.000000      66.666667          98
210       4      2      0    6    0.000000      66.666667           2
246       5      0      1    6  100.000000      83.333333          33
252       5      1      0    6    0.000000      83.333333          69
294       6      0      0    6    0.000000     100.000000          28

     Pop_clicks  effective_clicks
6            47         71.212121
12           41         62.121212
18           26         92.857143
24           12         14.285714
30           49         66.216216
36            9         27.272727
42           41         93.181818
54           42         87.500000
60            2          2.898551
66           15         21.428571
72            7         10.937500
78           17         80.952381
84            1         50.000000
102          17         29.824561
108           1         33.333333
114          13         22.807018
120           6         60.000000
126          15         30.000000
150          17         22.368421
156          15         51.724138
162          22         68.750000
168          28         50.909091
198          38         42.696629
204          91         92.857143
210           1         50.000000
246          20         60.606061
252          37         53.623188
294          19         67.857143

In [ ]:
df["Tot_scrolls"]= np.random.randint(1,100, size=len(df))
df["Pop_scrolls"]=np.random.randint(1,df["Tot_scrolls"], size=len(df))
df["effective_scrolls"]=(df["Pop_scrolls"]/(df["Tot_scrolls"]))*100
print(df)

     missed  wrong  right  Sum       Accur  missed_factor  Tot_clicks  \
6         0      0      6    6  100.000000       0.000000          66
12        0      1      5    6   83.333333       0.000000          66
18        0      2      4    6   66.666667       0.000000          28
24        0      3      3    6   50.000000       0.000000          84
30        0      4      2    6   33.333333       0.000000          74
36        0      5      1    6   16.666667       0.000000          33
42        0      6      0    6    0.000000       0.000000          44
54        1      0      5    6  100.000000      16.666667          48
60        1      1      4    6   80.000000      16.666667          69
66        1      2      3    6   60.000000      16.666667          70
72        1      3      2    6   40.000000      16.666667          64
78        1      4      1    6   20.000000      16.666667          21
84        1      5      0    6    0.000000      16.666667           2
102       2      0      4    6  100.000000      33.333333          57
108       2      1      3    6   75.000000      33.333333           3
114       2      2      2    6   50.000000      33.333333          57
120       2      3      1    6   25.000000      33.333333          10
126       2      4      0    6    0.000000      33.333333          50
150       3      0      3    6  100.000000      50.000000          76
156       3      1      2    6   66.666667      50.000000          29
162       3      2      1    6   33.333333      50.000000          32
168       3      3      0    6    0.000000      50.000000          55
198       4      0      2    6  100.000000      66.666667          89
204       4      1      1    6   50.000000      66.666667          98
210       4      2      0    6    0.000000      66.666667           2
246       5      0      1    6  100.000000      83.333333          33
252       5      1      0    6    0.000000      83.333333          69
294       6      0      0    6    0.000000     100.000000          28

     Pop_clicks  effective_clicks  Tot_scrolls  Pop_scrolls  effective_scrolls
6            47         71.212121           13            6          46.153846
12           41         62.121212           64           21          32.812500
18           26         92.857143           74            5           6.756757
24           12         14.285714           92           40          43.478261
30           49         66.216216           93           66          70.967742
36            9         27.272727           85           68          80.000000
42           41         93.181818           28            6          21.428571
54           42         87.500000           51           39          76.470588
60            2          2.898551           20            9          45.000000
66           15         21.428571           11            3          27.272727
72            7         10.937500           27            1           3.703704
78           17         80.952381           58           26          44.827586
84            1         50.000000           95           87          91.578947
102          17         29.824561           97           12          12.371134
108           1         33.333333           30           16          53.333333
114          13         22.807018           77           24          31.168831
120           6         60.000000           63           15          23.809524
126          15         30.000000           14            1           7.142857
150          17         22.368421           37           29          78.378378
156          15         51.724138           40           14          35.000000
162          22         68.750000           34            9          26.470588
168          28         50.909091           21           17          80.952381
198          38         42.696629            8            6          75.000000
204          91         92.857143           89           47          52.808989
210           1         50.000000           12           11          91.666667
246          20         60.606061           34           15          44.117647
252          37         53.623188            4            3          75.000000
294          19         67.857143           20           16          80.000000

In [ ]:
df1=df[["Accur","missed_factor","effective_clicks","effective_scrolls"]].copy()
print(df1)

          Accur  missed_factor  effective_clicks  effective_scrolls
6    100.000000       0.000000         71.212121          46.153846
12    83.333333       0.000000         62.121212          32.812500
18    66.666667       0.000000         92.857143           6.756757
24    50.000000       0.000000         14.285714          43.478261
30    33.333333       0.000000         66.216216          70.967742
36    16.666667       0.000000         27.272727          80.000000
42     0.000000       0.000000         93.181818          21.428571
54   100.000000      16.666667         87.500000          76.470588
60    80.000000      16.666667          2.898551          45.000000
66    60.000000      16.666667         21.428571          27.272727
72    40.000000      16.666667         10.937500           3.703704
78    20.000000      16.666667         80.952381          44.827586
84     0.000000      16.666667         50.000000          91.578947
102  100.000000      33.333333         29.824561          12.371134
108   75.000000      33.333333         33.333333          53.333333
114   50.000000      33.333333         22.807018          31.168831
120   25.000000      33.333333         60.000000          23.809524
126    0.000000      33.333333         30.000000           7.142857
150  100.000000      50.000000         22.368421          78.378378
156   66.666667      50.000000         51.724138          35.000000
162   33.333333      50.000000         68.750000          26.470588
168    0.000000      50.000000         50.909091          80.952381
198  100.000000      66.666667         42.696629          75.000000
204   50.000000      66.666667         92.857143          52.808989
210    0.000000      66.666667         50.000000          91.666667
246  100.000000      83.333333         60.606061          44.117647
252    0.000000      83.333333         53.623188          75.000000
294    0.000000     100.000000         67.857143          80.000000

In [ ]:
tempa=[0,1,2,3,4,5,6]
tempb=[0,1,2,3,4,5,6]
tempc=[0,1,2,3,4,5,6]
temp_e_click = df["effective_clicks"].drop_duplicates()
temp_e_scroll= df["effective_scrolls"].drop_duplicates()
cd3= pd.MultiIndex.from_product([tempa,tempb,tempc,temp_e_click,temp_e_scroll], names = ["wrong","right","missed","temp_e_click","temp_e_scroll"])
cd3

MultiIndex([(0, 0, 0, 71.21212121212122,  46.15384615384615),
            (0, 0, 0, 71.21212121212122,            32.8125),
            (0, 0, 0, 71.21212121212122,  6.756756756756757),
            (0, 0, 0, 71.21212121212122,  43.47826086956522),
            (0, 0, 0, 71.21212121212122,  70.96774193548387),
            (0, 0, 0, 71.21212121212122,               80.0),
            (0, 0, 0, 71.21212121212122, 21.428571428571427),
            (0, 0, 0, 71.21212121212122,  76.47058823529412),
            (0, 0, 0, 71.21212121212122,               45.0),
            (0, 0, 0, 71.21212121212122,  27.27272727272727),
            ...
            (6, 6, 6, 67.85714285714286, 23.809523809523807),
            (6, 6, 6, 67.85714285714286,  7.142857142857142),
            (6, 6, 6, 67.85714285714286,  78.37837837837837),
            (6, 6, 6, 67.85714285714286,               35.0),
            (6, 6, 6, 67.85714285714286,  26.47058823529412),
            (6, 6, 6, 67.85714285714286,  80.95238095238095),
            (6, 6, 6, 67.85714285714286,               75.0),
            (6, 6, 6, 67.85714285714286,  52.80898876404494),
            (6, 6, 6, 67.85714285714286,  91.66666666666666),
            (6, 6, 6, 67.85714285714286,  44.11764705882353)],
           names=['wrong', 'right', 'missed', 'temp_e_click', 'temp_e_scroll'], length=231868)

In [ ]:
df4=cd3.to_frame(index = False)
print(df4)
print(len(df4))

        wrong  right  missed  temp_e_click  temp_e_scroll
0           0      0       0     71.212121      46.153846
1           0      0       0     71.212121      32.812500
2           0      0       0     71.212121       6.756757
3           0      0       0     71.212121      43.478261
4           0      0       0     71.212121      70.967742
...       ...    ...     ...           ...            ...
231863      6      6       6     67.857143      80.952381
231864      6      6       6     67.857143      75.000000
231865      6      6       6     67.857143      52.808989
231866      6      6       6     67.857143      91.666667
231867      6      6       6     67.857143      44.117647

[231868 rows x 5 columns]
231868

In [ ]:
df4["Sum"]=df4["missed"]+df4["wrong"]+df4["right"]
df4.drop(df4[df4['Sum']!=6].index, inplace = True)
print(df4)
print(len(df4))

        wrong  right  missed  temp_e_click  temp_e_scroll  Sum
4056        0      0       6     71.212121      46.153846    6
4057        0      0       6     71.212121      32.812500    6
4058        0      0       6     71.212121       6.756757    6
4059        0      0       6     71.212121      43.478261    6
4060        0      0       6     71.212121      70.967742    6
...       ...    ...     ...           ...            ...  ...
199415      6      0       0     67.857143      80.952381    6
199416      6      0       0     67.857143      75.000000    6
199417      6      0       0     67.857143      52.808989    6
199418      6      0       0     67.857143      91.666667    6
199419      6      0       0     67.857143      44.117647    6

[18928 rows x 6 columns]
18928

In [ ]:
df4["Accur"]=(df4["right"]/(df4["right"]+df4["wrong"]))*100
df4["Accur"].fillna(value = 0,
          inplace = True)
print(df4)

        wrong  right  missed  temp_e_click  temp_e_scroll  Sum  Accur
4056        0      0       6     71.212121      46.153846    6    0.0
4057        0      0       6     71.212121      32.812500    6    0.0
4058        0      0       6     71.212121       6.756757    6    0.0
4059        0      0       6     71.212121      43.478261    6    0.0
4060        0      0       6     71.212121      70.967742    6    0.0
...       ...    ...     ...           ...            ...  ...    ...
199415      6      0       0     67.857143      80.952381    6    0.0
199416      6      0       0     67.857143      75.000000    6    0.0
199417      6      0       0     67.857143      52.808989    6    0.0
199418      6      0       0     67.857143      91.666667    6    0.0
199419      6      0       0     67.857143      44.117647    6    0.0

[18928 rows x 7 columns]

In [ ]:
df4["missed_factor"]=(df4["missed"]/(df4["missed"]+(6-df4["missed"])))*100

print(df4)

        wrong  right  missed  temp_e_click  temp_e_scroll  Sum  Accur  \
4056        0      0       6     71.212121      46.153846    6    0.0
4057        0      0       6     71.212121      32.812500    6    0.0
4058        0      0       6     71.212121       6.756757    6    0.0
4059        0      0       6     71.212121      43.478261    6    0.0
4060        0      0       6     71.212121      70.967742    6    0.0
...       ...    ...     ...           ...            ...  ...    ...
199415      6      0       0     67.857143      80.952381    6    0.0
199416      6      0       0     67.857143      75.000000    6    0.0
199417      6      0       0     67.857143      52.808989    6    0.0
199418      6      0       0     67.857143      91.666667    6    0.0
199419      6      0       0     67.857143      44.117647    6    0.0

        missed_factor
4056            100.0
4057            100.0
4058            100.0
4059            100.0
4060            100.0
...               ...
199415            0.0
199416            0.0
199417            0.0
199418            0.0
199419            0.0

[18928 rows x 8 columns]

In [ ]:
df4.reset_index(inplace = True, drop = True)
df4.drop_duplicates(keep=False,inplace=True)
print(df4)

       wrong  right  missed  temp_e_click  temp_e_scroll  Sum  Accur  \
0          0      0       6     71.212121      46.153846    6    0.0
1          0      0       6     71.212121      32.812500    6    0.0
2          0      0       6     71.212121       6.756757    6    0.0
3          0      0       6     71.212121      43.478261    6    0.0
4          0      0       6     71.212121      70.967742    6    0.0
...      ...    ...     ...           ...            ...  ...    ...
18923      6      0       0     67.857143      80.952381    6    0.0
18924      6      0       0     67.857143      75.000000    6    0.0
18925      6      0       0     67.857143      52.808989    6    0.0
18926      6      0       0     67.857143      91.666667    6    0.0
18927      6      0       0     67.857143      44.117647    6    0.0

       missed_factor
0              100.0
1              100.0
2              100.0
3              100.0
4              100.0
...              ...
18923            0.0
18924            0.0
18925            0.0
18926            0.0
18927            0.0

[18928 rows x 8 columns]

In [ ]:
fe=df4[["Accur","missed_factor","temp_e_click" , "temp_e_scroll" ]]
print(fe)

       Accur  missed_factor  temp_e_click  temp_e_scroll
0        0.0          100.0     71.212121      46.153846
1        0.0          100.0     71.212121      32.812500
2        0.0          100.0     71.212121       6.756757
3        0.0          100.0     71.212121      43.478261
4        0.0          100.0     71.212121      70.967742
...      ...            ...           ...            ...
18923    0.0            0.0     67.857143      80.952381
18924    0.0            0.0     67.857143      75.000000
18925    0.0            0.0     67.857143      52.808989
18926    0.0            0.0     67.857143      91.666667
18927    0.0            0.0     67.857143      44.117647

[18928 rows x 4 columns]

In [ ]:
fe["w_Accur"]=(fe["Accur"]/10)
print(fe)

       Accur  missed_factor  temp_e_click  temp_e_scroll  w_Accur
0        0.0          100.0     71.212121      46.153846      0.0
1        0.0          100.0     71.212121      32.812500      0.0
2        0.0          100.0     71.212121       6.756757      0.0
3        0.0          100.0     71.212121      43.478261      0.0
4        0.0          100.0     71.212121      70.967742      0.0
...      ...            ...           ...            ...      ...
18923    0.0            0.0     67.857143      80.952381      0.0
18924    0.0            0.0     67.857143      75.000000      0.0
18925    0.0            0.0     67.857143      52.808989      0.0
18926    0.0            0.0     67.857143      91.666667      0.0
18927    0.0            0.0     67.857143      44.117647      0.0

[18928 rows x 5 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
fe.tail(100)

       Accur  missed_factor  temp_e_click  temp_e_scroll  w_Accur
18828    0.0            0.0     42.696629      70.967742      0.0
18829    0.0            0.0     42.696629      80.000000      0.0
18830    0.0            0.0     42.696629      21.428571      0.0
18831    0.0            0.0     42.696629      76.470588      0.0
18832    0.0            0.0     42.696629      45.000000      0.0
...      ...            ...           ...            ...      ...
18923    0.0            0.0     67.857143      80.952381      0.0
18924    0.0            0.0     67.857143      75.000000      0.0
18925    0.0            0.0     67.857143      52.808989      0.0
18926    0.0            0.0     67.857143      91.666667      0.0
18927    0.0            0.0     67.857143      44.117647      0.0

[100 rows x 5 columns]

In [ ]:
fe["w_missed"]=(100-fe["missed_factor"])*0.3
print(fe["w_missed"])

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
18923    30.0
18924    30.0
18925    30.0
18926    30.0
18927    30.0
Name: w_missed, Length: 18928, dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
fe["w_click"]=fe["temp_e_click"]*0.3
print(fe["w_click"])

0        21.363636
1        21.363636
2        21.363636
3        21.363636
4        21.363636
           ...
18923    20.357143
18924    20.357143
18925    20.357143
18926    20.357143
18927    20.357143
Name: w_click, Length: 18928, dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
fe["w_scroll"]=fe["temp_e_scroll"]*0.3
print(fe["w_scroll"])

0        13.846154
1         9.843750
2         2.027027
3        13.043478
4        21.290323
           ...
18923    24.285714
18924    22.500000
18925    15.842697
18926    27.500000
18927    13.235294
Name: w_scroll, Length: 18928, dtype: float64

In [ ]:
print(fe)

       Accur  missed_factor  temp_e_click  temp_e_scroll  w_Accur  w_missed  \
0        0.0          100.0     71.212121      46.153846      0.0       0.0
1        0.0          100.0     71.212121      32.812500      0.0       0.0
2        0.0          100.0     71.212121       6.756757      0.0       0.0
3        0.0          100.0     71.212121      43.478261      0.0       0.0
4        0.0          100.0     71.212121      70.967742      0.0       0.0
...      ...            ...           ...            ...      ...       ...
18923    0.0            0.0     67.857143      80.952381      0.0      30.0
18924    0.0            0.0     67.857143      75.000000      0.0      30.0
18925    0.0            0.0     67.857143      52.808989      0.0      30.0
18926    0.0            0.0     67.857143      91.666667      0.0      30.0
18927    0.0            0.0     67.857143      44.117647      0.0      30.0

         w_click   w_scroll        sum
0      21.363636  13.846154  35.209790
1      21.363636   9.843750  31.207386
2      21.363636   2.027027  23.390663
3      21.363636  13.043478  34.407115
4      21.363636  21.290323  42.653959
...          ...        ...        ...
18923  20.357143  24.285714  74.642857
18924  20.357143  22.500000  72.857143
18925  20.357143  15.842697  66.199839
18926  20.357143  27.500000  77.857143
18927  20.357143  13.235294  63.592437

[18928 rows x 9 columns]

In [ ]:
fe["sum"]=fe["w_Accur"]+fe["w_missed"]+fe["w_click"]+fe["w_scroll"]
print(fe["sum"])

0        35.209790
1        31.207386
2        23.390663
3        34.407115
4        42.653959
           ...
18923    74.642857
18924    72.857143
18925    66.199839
18926    77.857143
18927    63.592437
Name: sum, Length: 18928, dtype: float64

In [ ]:
def assignlabel(n):
  if n>=75.0:
    return "Highly Active"
  elif n>=50.0:
    return "Active"
  elif n>=25.0:
    return "Less Active"
  else:
    return "Least Active"

In [ ]:
fe["Result"]=fe["sum"].apply(assignlabel)
print(fe)

       Accur  missed_factor  temp_e_click  temp_e_scroll  w_Accur  w_missed  \
0        0.0          100.0     71.212121      46.153846      0.0       0.0
1        0.0          100.0     71.212121      32.812500      0.0       0.0
2        0.0          100.0     71.212121       6.756757      0.0       0.0
3        0.0          100.0     71.212121      43.478261      0.0       0.0
4        0.0          100.0     71.212121      70.967742      0.0       0.0
...      ...            ...           ...            ...      ...       ...
18923    0.0            0.0     67.857143      80.952381      0.0      30.0
18924    0.0            0.0     67.857143      75.000000      0.0      30.0
18925    0.0            0.0     67.857143      52.808989      0.0      30.0
18926    0.0            0.0     67.857143      91.666667      0.0      30.0
18927    0.0            0.0     67.857143      44.117647      0.0      30.0

         w_click   w_scroll        sum         Result
0      21.363636  13.846154  35.209790    Less Active
1      21.363636   9.843750  31.207386    Less Active
2      21.363636   2.027027  23.390663   Least Active
3      21.363636  13.043478  34.407115    Less Active
4      21.363636  21.290323  42.653959    Less Active
...          ...        ...        ...            ...
18923  20.357143  24.285714  74.642857         Active
18924  20.357143  22.500000  72.857143         Active
18925  20.357143  15.842697  66.199839         Active
18926  20.357143  27.500000  77.857143  Highly Active
18927  20.357143  13.235294  63.592437         Active

[18928 rows x 10 columns]

In [ ]:
fe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18928 entries, 0 to 18927
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Accur          18928 non-null  float64
 1   missed_factor  18928 non-null  float64
 2   temp_e_click   18928 non-null  float64
 3   temp_e_scroll  18928 non-null  float64
 4   w_Accur        18928 non-null  float64
 5   w_missed       18928 non-null  float64
 6   w_click        18928 non-null  float64
 7   w_scroll       18928 non-null  float64
 8   sum            18928 non-null  float64
 9   Result         18928 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
fe.to_csv("Final_dataset.csv")
files.download("Final_dataset.csv")